.wrapper {
    padding: 40px 60px;
    margin: 5% auto;
    background: antiquewhite;
    border: 1px solid black;
    width: 50%;
}

.input {
    margin-right: 5px;
    width: 100%;
    padding: 5px;
    background: whitesmoke;
}

.inputs{
    margin: auto;
}

.submit-btn{
    box-sizing: content-box;
    background-color: rosybrown;
    font-weight: 600;
}

.cancel-btn{
    box-sizing: content-box;
    background-color: lightgrey;
    font-weight: 600; 
}
h1{
    font-size: 1.5rem;
    text-align: center;
}
