.style-color{
    background: maroon;
    color: white;
}

.-header{
    background-color: maroon;
    color: white;
}

.-center{
    background-color: maroon;
    color: white;
}

.my-btn{
    background-color: rosybrown;
    color: white;
    padding: .5rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    border: none;
    border-radius: 4; 
}

.rt-td{
    white-space: normal !important;
}
